* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 50rem;
    margin: auto;
    background-color: black;
}


header {
    
    background-color: #3de07e;
    height: 40vh;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;

    img {
        &#header-image {
            width: 30%;
        }
    }
}